/*Style General*/
body{
    font-family: 'Satisfy', cursive;
    font-size: 100%;
    background-color:black;
}
#cabecera{
    height: 255px;
    position: relative;
}
#cabecera .imgfondo{
    width: 100%;
    height: 100%;
}
#sobrebanner{
    position: absolute;
    padding: 1%;
    color: white;
    align-items: center;
}
#cabecera h1 {
    font-family: 'Pacifico', cursive;
}
#cabecera .imgperfil{
    width: 54%;
    height: 54%;
}

/*Barra social media*/
.b-social{
    position: fixed;
    right: 0;
    top:340px;
    z-index: 2000;
}

/*Style Home*/
#main-seccion{
    background-color: #DC8665;
    padding: 20px;
    height: 700px;
    text-align: center;
}
section article{
    padding: 50px;
}
section h2{
    color: white;
}

#pfrase{
    text-align: center;
    color: #534666;
}

/*Style About */
#section-about{
    float: left;
    background-color: #DC8665;
    width: 60%;
    height: 100%;
} 
.clearfix{
    clear:both;

} 
#about-art1{
    background-color: burlywood;
    padding: 20px;
    padding-left: 30px;
    
}
#Carrusel-Img{
    width: 50%;
    height: 50%;
}

#about-art1 h2{
    color:white;
}
#about-art2{
    align-items: center;
    padding: 20px;
}

#about-art2 h2{
    color: #534666;
    background-color: antiquewhite;
    text-align: center;
}


/*Imagenes de Articulo*/
.Container-Img{
    display: grid;
    grid-template-columns: repeat(3, 30%);

    width: 100%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;   
}
.Caja-Img{
    background-color: white;
    box-shadow: 0 4px 8px #534666;
    margin: 10px;
}
.Text-Img{
    padding-left: 10px;
    font-size: 70%;
}
.Item-Img{
    max-width: 100%;
    display: block;
}
/*Aside-About*/
#contseccion{
   background-color: #DC8665; 
}
#contAside{
    background-color: #534666;
}
#aside-about{
    float: right;
    background-color: #534666;
    width: 40%;
    height: 100%;
    align-content: center;
}
aside h2 {
    color: white;
}
aside li {
    font-style: italic;
}

#aside-artic1{
    padding: 30px;
}
#aside-artic2{
    padding: 30px;
    background-color: #2c6975;
}
#aside-artic3{
    padding: 30px;
}
.Container-Img2{
    display: grid;
    grid-template-columns: repeat(1, 50%);

    width: 100%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;   
}
.Container-Img3{
    display: grid;
    grid-template-columns: repeat(2, 50%);

    width: 100%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;   
}

/*Style Contact*/
#article-contact{
    background-color: #DC8665;
    padding-top: 30px;
}
.Container-Img4{
    display: grid;
    grid-template-columns: repeat(1, 70%);
    width: 70%;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 5px;   
    color: white;
}
.Caja-Img4{
    background-color: #534666;
    box-shadow: 0 4px 8px #534666;
    margin: 10px;
}
.Container-Img5{
    display: grid;
    grid-template-columns: repeat(1, 90%);

    width: 90%;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 5px;   
    color: white;
}
.Caja-Img5{
    background-color: #DC8665;
    box-shadow: 0 4px 8px #DC8665;
    margin: 10px;
}

#artic-Aside{
    padding: 20px;
    background-color: #534666;
    color: white;
    align-content: center;
}
#artic-Aside a{
    color: beige;
}
#from h3{
    text-align: center;
}
footer{

    position: static;
    height: 20%;
    color: white;
    text-align: center;
    background: black;
    padding-top: 10px;
    line-height: 30px;
    padding-bottom: 10px;
}

/*Style de pagina Laboratorio 05*/

#seccionLab{
    background-color:rgb(165, 211, 212);
    height: 100%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
}
#seccionLab #titulo{
    text-align: center;
}
#formLab{
    padding: 40px;

}
#seccionLab #labelA{
    color: white;
    background-color: rgb(26, 26, 184);
}
#seccionLab #labelB{
    color: white;
    background-color: rgb(235, 21, 21);
}